.inpt div span {
    display: inline-block;
    width: 300px;
}

.dbtn,
.inpt div {
    text-align: center;
}

.hide {
    display: none;
}

#statmnt {
    width: 400px;
    font-size: 12px;
}

#div span {
    width: 200px;
}

.imgdoc {
    width: 300px;
}

#inpt {
    width: 540px;
    margin: 0 auto;
    border: 1px dotted;
}

#inpt div span {
    display: inline-block;
    width: 200px;
    text-align: cneter;
}

#nballs {
    margin-left: 4px;
}

.forButton {
    text-align: center;
}

.sums label {
    width: 200px;
}

.inptService {
    margin-left: 4px;
}

#elektroField {
    text-align: left;
    width: 300px;
    margin: 0 auto;
}

.tbl td {
    border: 1px solid;
}

.act {
    border: 1px solid green;
}

.deact {
    background: gray;
    border: 1px solid red;
}

.inptOwner {
    width: 300px;
}

.usrUpd input {
    width: 300px;
}

.usrUpd span {
    width: 200px;
    display: inline-block;
}

.deactive #sndUpd {
    display: none;
}